<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">

	<title>QuickPool</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1/font/bootstrap-icons.css">
	<link href="/css/custom.css" rel="stylesheet">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="/">QuickPoll</a>
		<button aria-controls="navbar-nav-list" aria-expanded="false" aria-label="Toggle navigation"
		        class="navbar-toggler" data-bs-target="#navbar-nav-list" data-bs-toggle="collapse" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar-nav-list">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a aria-current="page" class="nav-link active" href="/">Pools</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/results">Results</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<main class="container">
    <div id="top-toast-placeholder"></div>

	{% for poll in polls %}
		{% if loop.index0 % 3 == 0 %}
			{% if loop.index0 != 0 %}
				</div>
			{% endif %}
			<div class="row row-cols-1 row-cols-xl-3">
		{% endif %}
        {% include 'poll_card.html' %}
	{% endfor %}
	</div>
</main>

<!-- Javascript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
